snippet docs My own docs #1
	"""
	File: `Filename('$1.py', 'foo.py')`
	Author: `g:BASH_AuthorName`
	Date: `strftime("%Y-%m-%d %T %Z")`

	Description: ${1}
	"""

# Debugging
snippet pdb
	import pdb; pdb.set_trace()

snippet pudb
	import pudb; pudb.set_trace()

